body{
    
    padding: 0;
    margin: 0;
}

.container{
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    height: 100vh;
}

.header{
    grid-area: 1 / 2 / 2 / -1; 
}

.sidebar{
    grid-area: 1 / 1 / -1 / 2;
    background-color: #579ce1;
    color: white;
}

.top div,
.bottom div{
    display: flex;
    align-items: center;
    margin: 24px 36px;
}

.top > div:first-child{
    margin: 12px 24px 64px 24px;
}

.sidebar > .bottom{
    margin-top: 80px;
}

.dashboard > svg{
    height: 60px;
    width: 60px;
}

.content{
    grid-area: 2 / 2 / -1 / -1;
}

svg{
    fill: white;
    height: 30px;
    width: 30px;
}

h1{
    margin-left: 12px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 24px;
}
