:root{
    --bg-color: #e7eef3;
    --semi-white: rgb(247, 244, 244);
    --header-shadow: 0px 4px 6px 0px #B9C2C9;
    --project-shadow: 3px 4px 6px 0px #B9C2C9;
}

body{
    font-family: "Roboto", Helvetica, Arial, sans-serif, system-ui, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0;
    margin: 0;
}

.container{
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    height: 100vh;
}

.header{
    grid-area: 1 / 2 / 2 / -1; 
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    padding: 16px 36px 12px 48px;
    background-color: var(--semi-white);
    box-shadow: var(--header-shadow);
    z-index: 1;
}

.header-top{
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-content: space-between;
}

.header-top-right,
.header-top-left{
    display: flex;
    align-items: center;
}

.header-top-right{
    margin-right: 16px;
    gap: 40px;
}

.header-top{
    font-size: 20px;
}

input{
    width: 700px;
    height: 32px;
    border: 1px solid rgb(203, 202, 202);
    border-radius: 24px;
    background-color: var(--bg-color);
    margin-left: 22px;
}

input:hover{
    background-color: #f6f7f8;
}

input,
button{
    font-family: inherit;
    box-sizing: border-box;
}

.header-bottom{
    grid-area: 2 / 1 / 3 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom-left{
    display: grid;
    grid-template: 1fr 2fr / 80px 1fr;
    align-items: center;
    column-gap: 24px;
}

.header-bottom-left > .hi{
    grid-area: 1 / 2 / 2 / -1; 
    font-size: 14px;
    font-weight: 700;
    align-self: end;
}

.header-bottom-left > img{
    grid-area: 1 / 1 / -1 / 2;
    width: 80px;
    height: 80px;
}

.header-bottom-right{
    display: flex;
    justify-content: flex-end;
    gap: 28px;
}

button{
    width: 110px;
    height: 44px;
    margin: 0;
    padding: 8px 16px;
    background-color:  #5b9cd9;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: 0;
    border-radius: 24px;
    cursor: pointer;
}

.sidebar{
    grid-area: 1 / 1 / -1 / 2;
    background-color: #579ce1;
    color: white;
}

.top div,
.bottom div{
    display: flex;
    align-items: center;
    margin: 24px 36px;
}

.top > div:first-child{
    margin: 12px 0px 64px 18px;
}

.sidebar > .bottom{
    margin-top: 80px;
}

.dashboard > svg{
    height: 60px;
    width: 60px;
    cursor: auto;
}

.box{
    grid-area: 2 / 2 / -1 / -1;
    background-color: #dde2e7;
}

.main-content > div:first-child,
.announcement > div:first-child,
.trending > div:first-child{
    font-size: 22px;
}

.content{
    height: 90%;
    display: grid;
    grid-template: 1fr / 3fr 1fr;
    margin: 36px 24px;
}

.main-content{
    grid-area: 1 / 1 / -1 / -2;
    display: grid;
    grid-template: min-content repeat(3, 1fr) / repeat(2, minmax(300px, 1fr));
    gap: 24px;
}

.main-content > .bold-capitalize{
    grid-column: span 2;
}

.project-content{
    display: grid;
    grid-template-rows: min-content 1fr 50px;
    padding: 32px 16px;
}

.project{
    background-color: var(--semi-white);
    border-left: 12px solid rgb(230, 190, 11);
    border-radius: 6px;
    box-shadow: var(--project-shadow);
}

.text{
    grid-row: 2 / 3;
    color: gray;
    margin-top: 6px;
}

.project-icons{
    grid-row: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 24px;
}

svg{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.sidebar svg{
    fill: white;
}

.header-top-left svg{
    fill: black;
}

h1{
    margin-left: 12px;
}

b{
    font-size: 24px;
}

img{
    width: 60px;
    height: 60px;
}

.bold-capitalize{
    text-transform: capitalize;
    font-weight: 900; 
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    margin-left: 24px;
}
